$primaryColor: dodgerblue;
$secondaryColor: #fff;

.filters ul{
    list-style: none;
    margin: 0;
    li{
        text-align: left;
    }
    label{
        font-size: 1rem;
    }
}
.scrollRadio{
    height: 15rem;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 2px; 
    }
}
.paginationSection{
    width: 100%;
    margin: 0;
}
.pagination{
    text-align: center;
    a{
        cursor: pointer;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .5s;
        &.active{
            background-color: $primaryColor;
            color: $secondaryColor;
        }
        &:hover:not(.active){
            background-color: #ddd;
        }
    }
}
.carousel-container {
    width: 60rem;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
    .carousel-inner{
        overflow: hidden;
    }
    .track{
        display: inline-flex;
        transition: transform 0.5s;
    }
    .card-container {
        width: 15rem;
        flex-shrink: 0;
        height: 275px;
        padding-right: 15px;
        box-sizing: border-box;
        .card {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
    }
}
.nav{
    .prev {
        left: -30px;
        display: none;
    }
    button {
        background-color: $primaryColor;
        color: $secondaryColor;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #aaa;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
.nav .prev {
    left: -30px;
    display: none;
}
.nav .prev.show {
    display: block;
}
.nav .next {
    right: -30px;
}
.nav .next.hide {
    display: none;
}

.card > * {
    flex: 1;
}
.card{
    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .info {
        text-align: center;
        flex-basis: 40px;
        color: $secondaryColor;
        flex-grow: 0;
        padding: 10px;
        box-sizing: border-box;
    }
}
.slider {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
    .slide{
        position: absolute;
        transition: opacity 0.4s ease-in-out;
        opacity: 0;
        background-size: cover;                      
        background-repeat: no-repeat;
        background-position: center center; 
        height: 100%; 
        width: 100%;
        padding: 0;
        .featuredContent{
            position: absolute; 
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            color: $secondaryColor;
            padding: 10px;
        }
    }
}
.activeSlide{
    opacity: 1 !important;
}
.buttonContainer{
    text-align:center;
    .featuredButtons{
        display: inline-block;
        width: auto;
        li{
            display: inline;
            .featuredButton {
                background-color: $secondaryColor;
                height:10px;
                width: 10px;
                border-radius: 50%;
                border: 1px solid $primaryColor;
                cursor: pointer;
            }
            .activeButton{
                background-color: $primaryColor;
            }
        }
    }
}
.quantity{
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 7px;
}
.alignMargin{
    margin-right: 5px;
}
.filterDivider{
    margin: 0;
}
.filterChoices{
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    .choices{
        display: inline-block;
        background-color: $primaryColor;
        color: $secondaryColor;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        margin: 10px;
        margin-left: 0;
        .filterClose{
            font-weight: bold;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}
.clearAll{
    display: inline-block;
    cursor: pointer;
}
.appliedFiltersHeader{
    margin-bottom: 5px;
}
.filterSubmit{
    display: block;
    color: $secondaryColor;
    background-color: $primaryColor;
    width: 100%;
    border: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.hideFilterSubmit{
    display: none;
}
.iconSmall{
    width: 10rem !important;
    height: 10rem !important;
    margin: auto;
}
.boxShadowAnimate:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
#sortList {
    position: relative;
    cursor: pointer;
    ul {
        margin-right: 30px;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    #sub_navlist {
        position: absolute;
        text-align: left;
        margin: 10 0;
        padding: 0;
        z-index: 9000;
        background-color: $secondaryColor;
        li:hover{
            color:  black;
        }
    }
}
.cardLink{
    text-decoration: none; 
    color: #3C424F;
    cursor: pointer;
    .adoptionsCard{
        margin-bottom: 1.5rem; 
        padding: 0;
        .catalogPicture{
            height: 300px;
            position: relative;
            .catalogRoundedBottom{
                background-color: $secondaryColor; 
                height: 25px; 
                width: 100%; 
                bottom: 0; 
                position: absolute; 
                border-radius: 40% 40% 0 0;
            }
        }
        .catalogContent{
            padding: 10px;
             padding-top: 0;
         }
    }
}
.recentlyViewed{
    width: 100%;
}
.sortByTopList{
    float: right; 
    list-style: none; 
    background-color: $primaryColor; 
    padding: 4px;
    li a{
        text-decoration: none; 
        color: $secondaryColor;
    }
    ul form{
        margin: 0;
    }
}


@media screen and (max-width: 768px) {
    .carousel-container {
        width: 30rem;
    }
    .card-container{
        width: 7.5rem;
    }
}
@media screen and (max-width: 1024px) {
    .carousel-container {
        width: 45rem;
    }
    .card-container{
        width: 11.25rem;
    }
}