.aboutSection {
  width: 100%;
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-radius: 15px;
  padding: 0;
  position: relative;
  background-color: #fff;
  height: 100vh;
}

.aboutSection .slideShowContainer {
  width: 100%;
  height: 350px;
  position: relative;
}

.aboutSection .slideShowContainer .slideContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.aboutSection .slideShowContainer .slideContainer .slide {
  position: absolute;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.aboutSection .slideShowContainer .slideContainer .active {
  opacity: 1;
}

.aboutSection .slideShowContainer .slidePrev {
  top: 50%;
  left: 25px;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.aboutSection .slideShowContainer .slidePrev button {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.aboutSection .slideShowContainer .slideNext {
  top: 50%;
  right: 25px;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.aboutSection .slideShowContainer .slideNext button {
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.aboutSection .textPart {
  padding: 25px;
}

.aboutSection .textPart h1 {
  text-align: center;
}

.aboutSection .textPart h3 {
  text-align: center;
}

.aboutSection .textPart p {
  line-height: 2;
  font-size: 19px;
  text-align: center;
}

.adoptSection {
  width: 100%;
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-radius: 15px;
  padding: 0;
  position: relative;
  background-color: #fff;
}

.adoptSection .adoptionPicture {
  -webkit-box-shadow: 0 -1px 0 0 rgba(33, 33, 33, 0.2);
          box-shadow: 0 -1px 0 0 rgba(33, 33, 33, 0.2);
  cursor: pointer;
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 7px solid #fff;
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}

.adoptSection .adoptionInformation {
  margin-bottom: 20px;
  padding: 50px 25px 25px 25px;
}

.adoptSection .adoptionInformation .adoptTitle {
  text-align: center;
}

.adoptSection .adoptionInformation .adoptionButton {
  border: 2px solid #424855;
  display: block;
  padding: 4px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.adoptSection .adoptionInformation .adoptionButton:hover {
  background-color: #fff;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}

.adoptSection .adoptionMoreInformation {
  border-radius: 0 0 15px 15px;
  border-top: 2px solid #3C424F;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3px;
  cursor: pointer;
  color: #3C424F;
}

.adoptSection .adoptionMoreInformation:hover {
  background-color: dodgerblue;
  color: #fff;
}

.shelterSection {
  width: 100%;
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-radius: 15px;
  padding: 0;
  position: relative;
  background-color: #fff;
}

.shelterSection .shelterPicture {
  -webkit-box-shadow: 0 -1px 0 0 rgba(33, 33, 33, 0.2);
          box-shadow: 0 -1px 0 0 rgba(33, 33, 33, 0.2);
  cursor: pointer;
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 7px solid #fff;
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}

.shelterSection .shelterInfo {
  margin-bottom: 20px;
  padding: 50px 25px 25px 25px;
}

.shelterSection .shelterInfo .shelterName {
  text-align: center;
}

.shelterSection .shelterInfo .emailPart {
  font-size: .7rem;
  text-align: center;
}

.shelterSection .shelterInfo .locationPart {
  text-align: center;
}

.shelterSection .shelterViewMore {
  border-radius: 0 0 15px 15px;
  border-top: 2px solid #3C424F;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3px;
  cursor: pointer;
  color: #3C424F;
}

.shelterSection .shelterViewMore:hover {
  background-color: dodgerblue;
  color: #fff;
}

.infoSection {
  width: 100%;
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border-radius: 15px;
  padding: 0;
  position: relative;
  background-color: #fff;
}

.infoSection .infoPicture {
  -webkit-box-shadow: 0 -1px 0 0 rgba(33, 33, 33, 0.2);
          box-shadow: 0 -1px 0 0 rgba(33, 33, 33, 0.2);
  cursor: pointer;
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 7px solid #fff;
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}

.infoSection .infoBox {
  margin-bottom: 20px;
  padding: 50px 25px 25px 25px;
  margin-bottom: 0;
  color: #3C424F;
}

.infoSection .infoBox .borderRight {
  border-right: 2px solid #3C424F;
}

.infoSection .infoBox .infoTitle {
  text-align: center;
}

.infoSection .infoBox .dynamicInfo {
  display: inline;
}

.infoSection .infoBox .row {
  border-bottom: 2px solid #3C424F;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.rowTopSpacing {
  margin-top: 4.5rem;
}

.adoptionButtonSpacing {
  margin-top: .5rem;
}

.adoptionFormContainer {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.adoptionForm {
  display: none;
  padding: 35px;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-color: white;
}

.adoptionForm .formAdoption .formMessage {
  height: 200px;
}

.adoptionForm .formAdoption label, .adoptionForm .formAdoption input {
  display: block;
  color: #3C424F;
}

.adoptionForm .formAdoption input, .adoptionForm .formAdoption select {
  border: 1px solid #3C424F;
}

.adoptionForm .formAdoption label {
  margin-top: 25px;
}

.adoptionForm .formAdoption ul {
  margin-top: 25px;
  list-style: none;
  text-align: center;
}

.adoptionForm .formAdoption ul li {
  display: inline-block;
}

.adoptionForm .formAdoption ul li button {
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 60px;
}

.recommendedSection {
  width: 60rem;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}

.recommendedSection .carousel-inner {
  overflow: hidden;
}

.recommendedSection .track {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.recommendedSection .card-container {
  width: 15rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 275px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recommendedSection .card-container .card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recommendedSection .card-container .card .iconSmall {
  width: 10rem !important;
  height: 10rem !important;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */