$primaryColor: dodgerblue;
$secondaryColor: #fff;

@mixin sectionBox{
    width: 100%;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border-radius: 15px;
    padding: 0;
    position: relative;
}
@mixin moreInformation{
    border-radius: 0 0 15px 15px;
        border-top: 2px solid black;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 3px;
        cursor: pointer;
        &:hover{
            background-color:$primaryColor;
            color: $secondaryColor;
        }
}
@mixin picture($color){
    top: 10px;
    border: 7px solid $color;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: black;
}
@mixin marginPaddingBox{
    margin-bottom: 20px;
    padding: 25px;
}
.aboutSection{
    @include sectionBox();
    background-color: $secondaryColor;
    height: 100vh;
    .slideShowContainer{
        width: 100%;
        height: 350px;
        position: relative;
        .slideContainer{
            position: relative;
            width: 100%;
            height: 100%;
            .slide{
                position: absolute;
                border-radius: 15px 15px 0 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            .active{
                opacity: 1;
            }
        }
        .slidePrev{
            top: 50%;
            left: 25px;
            position: absolute;
            cursor: pointer;
            width: 25px;
            height: 25px;
            button{
                color: $secondaryColor;
                font-weight: bold;
                font-size: 25px;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
            }
        }
        .slideNext{
            top: 50%;
            right: 25px;
            position: absolute;
            cursor: pointer;
            width: 25px;
            height: 25px;
            button{
                color: $secondaryColor;
                font-weight: bold;
                font-size: 25px;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
            }
        }
    }
    .textPart{
        padding: 25px;
        h1{
            text-align: center;
        }
        h3{
            text-align: center;
        }
        p{
            line-height: 1.6;
            text-align: center;
        }
    }
}
.adoptSection{
    @include sectionBox();
    background-color:$secondaryColor;
    .adoptionPicture{
        @include picture($secondaryColor);
        box-shadow: -1px 0 0 0 rgba(33,33,33,.2); 
        left: -75px;
    }
    .adoptionInformation{
        @include marginPaddingBox();
        .adoptTitle{
            text-align: center;
        }
        .adoptionButton{
            border: 2px solid #424855;
            display: block;
            padding: 4px;
            width: 100%;
            background-color: transparent;
            border-radius: 8px;
            cursor: pointer;
            &:hover{
                background-color: $secondaryColor;
                color: $primaryColor;
                border: 2px solid $primaryColor;
            }
        }
    }
    .adoptionMoreInformation{
        @include moreInformation();
    }
}
.shelterSection{
    @include sectionBox();
    background-color: $secondaryColor;
    .shelterPicture{
        @include picture($secondaryColor);
        box-shadow: 1px 0 0 0 rgba(33,33,33,.2); 
        right: -75px;
    }
    .shelterInfo{
        @include marginPaddingBox();
        .shelterName{
            text-align: center;
        }
        .emailPart {
            font-size: .7rem;
            text-align: center;
        }
        .locationPart{
            text-align: center;
        }
    }
    .shelterViewMore{
        @include moreInformation();
    }
}
.infoSection{
    @include sectionBox();
    background-color: $secondaryColor;
    .infoPicture{
        @include picture($secondaryColor);
        box-shadow: -1px 0 0 0 rgba(33,33,33,.2); 
        left: -75px;
    }
    .infoBox{
        @include marginPaddingBox();
        margin-bottom: 0;
        .infoTitle{
            text-align: center;
        }
        .dynamicInfo{
            display: inline;
        }
    }
}
.rowTopSpacing{
    margin-top: 2.5rem;
}
.adoptionButtonSpacing{
    margin-top: .5rem;
}

.adoptionFormContainer{
    display: none !important;
    overflow: hidden;
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(10,10,10,.86);
}
.adoptionForm{
    display: none;
    padding: 15px;
    border-radius: 25px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 800px;
    background-color: white;
    form{
        .formMessage{
            height: 200px;
        }
        label, input{
            display: block;
        }
        label{
            margin-top: 25px;
        }
        ul{
            margin-top: 25px;
            list-style: none;
            text-align: center;
            li{
                display: inline-block;
                button{
                    cursor: pointer;
                    border-radius: 15px;
                    height: 30px;
                    width: 60px;
                }
            }
        }
    }
}

.recommendedSection {
    width: 60rem;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
    .carousel-inner{
        overflow: hidden;
    }
    .track{
        display: inline-flex;
        transition: transform 0.5s;
    }
    .card-container {
        width: 15rem;
        flex-shrink: 0;
        height: 275px;
        padding-right: 15px;
        box-sizing: border-box;
        .card {
            .iconSmall{
                width: 10rem !important;
                height: 10rem !important;
                margin: auto;
            }
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
    }
}
