$secondaryColor: #fff;
@mixin sectionBox{
    width: 100%;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border-radius: 15px;
}
.aboutSection{
    @include sectionBox();
    background-color: $secondaryColor;
    height: 100vh;
    padding: 20px;
}
.adoptSection{
    @include sectionBox();
    background-color: dodgerblue;
    height: 100px;
}
.shelterSection{
    @include sectionBox();
    background-color: red;
    height: 200px;
    padding: 0;
    position: relative;
    .shelterPicture{
        top: 10px;
        border: 7px solid red;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: black;
    }
    .shelterInfo{
        padding: 25px;
        h4{
            text-align: center;
        }
        h5{
            font-size: .7rem;
            text-align: center;
        }
    }
    .shelterViewMore{
        border-top: 2px solid black;
        border-radius: 0 0 15px 15px;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 3px;
        &:hover{
            background-color: green;
        }
    }
}
.rowTopSpacing{
    margin-top: 2.5rem;
}